
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7 order-detail_le">
      <div class="well ">
        <h3 class="pull-left">
          Заказ <span class="id">#</span>123 321 <span class="confirmed-order">Подтверждено</span>
        </h3>
        <p class="pull-left operator-name">Лена Н.</p>
        <ul class="pager pull-right">
          <li class="previous"><a href="#">← предыдущий</a></li>
          <li class="next"><a href="#">следующий →</a></li>
        </ul>
        <div class="clear"></div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="javascript:void(0);" title="" >Торт Фисташковый</a> </td>
            <td>96 руб.</td>
            <td>1</td>
            <td>96 руб.</td>
          </tr>
          <tr>
            <td><a href="javascript:void(0);" title="" >Торт Фисташковый</a> </td>
            <td>96 руб.</td>
            <td>1</td>
            <td>96 руб.</td>
          </tr>
          <tr>
            <td><a href="javascript:void(0);" title="" >Торт Фисташковый</a> </td>
            <td>96 руб.</td>
            <td>1</td>
            <td>96 руб.</td>
          </tr>
          </tbody>
        </table>
        <dl class="dl-horizontal">
          <dt>Ресторан:</dt>
          <dd>СушиМания</dd>
          <dt>Сумма заказа:</dt>
          <dd>1 460 руб.</dd>
          <dt>Доставка:</dt>
          <dd>Бесплатно</dd>
        </dl>
        <div class="clear-line"></div>
        <dl class="dl-horizontal big-dl">
          <dt>Итого:</dt>
          <dd>1 450 руб.</dd>
          <dt>Приз:</dt>
          <dd>1 000 баллов</dd>
        </dl>
      </div>
    </div>
    <div class="span3 order-detail-ri">
      <div class=" well">
        <p class="name">
          Андрей Федорков
        </p>
        <p class="phone">
          +7 (926) 578 0909
        </p>
        <p class="address">
          Карла Маркса 16, квартира 47.
          Подьезд 6, 18 этаж.
          Челябинск.
        </p>
        <dl>
          <dt>Комментарий:</dt>
          <dd>Во дворе злая собака, Это комментарий к заказу, Пицца-соусс тра ла ла , ветчина, салями, лук, ветчина, салями, лук , ветчина, салями, лук</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Ресторан:</dt>
          <dd>СушиМания</dd>
          <dt>Сумма заказа:</dt>
          <dd>1 460 руб.</dd>
          <dt>Доставка:</dt>
          <dd>Бесплатно</dd>
        </dl>
        <div class="clear-line"></div>
        <dl class="dl-horizontal big-dl">
          <dt>Итого:</dt>
          <dd>1 450 руб.</dd>
          <dt>Приз:</dt>
          <dd>1 000 баллов</dd>
        </dl>
      </div>
    </div>
    <div class="span2 order-detail-ri">
      <div class=" well">
        <div class="btn-box">
          <a class="btn btn btn-success" data-toggle="modal" href="#gores">Передать в ресторан</a>
          <a class="btn btn-warning" href="#">Отменить потверждение</a>
          <a class="btn btn-danger" href="#delete-order" data-toggle="modal"><i class="icon-trash icon-white"></i> Удалить заказ</a>
          <div class="clear-line"></div>
          <p>
            Заказ поступил в 15:56, сегодня.<br />
            Ресторан "Суши в Груши".
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div><!--/.fluid-container-->

<div id="gores" class="modal hide fade in">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Подтверждение заказа</h3>
  </div>
  <div class="modal-body">
    <p class="rest-phone-text">
      Для передачи заказа, свяжитесь с рестораном по телефону:
    </p>
    <span class="big-phone">8 (800) 800-8080</span>
    <a class="btn btn btn-success span5" href="#" title="" >Заказ передан</a>
    <a class="btn btn btn-danger span5" href="#" title="" >Ресторан не отвечает? Отметить как подтвержден</a>
  </div>
</div>
<div id="delete-order" class="modal hide fade in">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Подтверждение удаления</h3>
  </div>
  <div class="modal-body">
    <p class="rest-phone-text">
      Вы дествительно хотите удалить заказ?
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Отмена</a>
    <a href="#" class="btn btn-primary">Удалить заказ</a>
  </div>
</div>



