.cont.container
  .row.ele2
    .span12
      %h1.big.x Популярные призы
      %h2.x  Заказывай вкусную еду и получай за это подарки!
      %p.l.x  За каждые 10 рублей вы получаете 1 балл
  .row.ele1
    .span6
      <img src="img/gifts/smoke.jpg">
      %h3.v2.x
        Электронная сигарета с USB зарядкой
      %p.l.x
        1350 баллов
    .span6
      <img src="img/gifts/weight.jpg">
      %h3.v2.x
        Портативные весы
      %p.l.x
        1150 баллов
  .row.ele1
    .span6
      <img src="img/gifts/cam.jpg">
      %h3.v2.x
        WEB-камера с микрофоном
      %p.l.x
        850 баллов
    .span6
      <img src="img/gifts/iphone_case.jpg">
      %h3.v2.x
        Чехол для iPhone РЕТРО
      %p.l.x
        450 баллов
  .row.ele0
    .span6
      <img src="img/gifts/remote.jpg">
      %h3.v2.x
        Универсальный мини-пульт
      %p.l.x
        550 баллов
    .span6
      <img src="img/gifts/thermo.jpg">
      %h3.v2.x
        Цифровой термометр
      %p.l.x
        650 баллов