.cont.container
  .row-fluid
    .span12
      .license
        %h1 Пользовательское соглашение.
        %br
          %h2 Общие положения.
          %ol
            %li
              Настоящее Пользовательское соглашение (далее Соглашение) регулирует отношения между пользователями (далее Пользователи) сети Интернет, зашедшими на сайт
              %a{:href => "http://www.svek.la"} svek.la
              и Интернет-представительством
              %a{:href => "http://www.svek.la"} svek.la
              (далее Сайт доставки, Сайт).
            %li Обращаясь к Сайту доставки, Пользователь выражает свое согласие со всеми условиями настоящего Соглашения и обязуется соблюдать их или прекратить использование Сайта.
            %li
              Соглашение может быть изменено Сайтом доставки полностью или частично в любое время без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее опубликования на Сайте. Действующая редакция Соглашения по адресу
              %a{:href => "http://www.svek.la/license"} svek.la/license
            %li Соглашение, а также все возможные споры относительно него, регулируются нормами российского законодательства.
            %li Ввиду безвозмездности условий Соглашения, к отношениям между Пользователем и Сайтом доставки не могут быть применимыми нормы о защите прав потребителей.
            %li Ничто в Соглашении не может пониматься как установление между Пользователем и Сайтом доставки агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных настоящим Соглашением.
          %h2 Описание услуг.
          %ol
            %li Сайт доставки представляет собой интерактивный информационный сервис, позволяющий Пользователю, в режиме реального времени, получить услуги по поиску, выбору, заказу готовой еды и других товаров и услуг, представленных на Сайте.
            %li Услуги, представленные на Сайте доставки, носят информационный характер и оказываются Пользователю безвозмездно.
            %li Заказ считается принятым только после подтверждения его (Заказа) Пользователем представителю Сайта доставки.  В случае, если представитель Сайта не дозвонился до Пользователя 3 раза в течение 15 минут, то Заказ считается автоматически отмененным.
            %li В случае, если представитель Сайта доставки не перезвонил Пользователю, то последний вправе написать об этом на указанный на Сайте электронный адрес.
            %li Пользователь соглашается с тем, что услуги предоставляются «как есть», то есть Сайт не несет ответственности за соблюдение/не соблюдение службами доставок и ресторанами своих обязательства перед Пользователями, а так же за достоверность информации, представленной такими службами Сайту. Сайт доставки является информационным связующим звеном между Пользователями и службами доставки, представленными на Сайте.
            %li При пользовании некоторыми услугами Сайта доставки, Пользователю могут начисляются поощрительные баллы (далее Баллы), которые могут быть использованы в соответствии с условиями Настоящего Соглашения.
            %li Условия начисления и использования Баллов публикуются в специальном разделе Сайта.
          %h2 Условия накопления и использования баллов.
          %ol
            %li При пользовании услугами Сайта доставки, Пользователю начисляются поощрительные баллы (далее Баллы), которые могут быть использованы в соответствии с условиями Настоящего Соглашения.
            %li За каждые 10 руб. сформированного и полученного Заказа на Сайте Пользователем, последнему начисляются баллы из расчета 10 руб. = 1 балл.
            %li Баллы, начисленные на счет Пользователя, не могут быть проданы, переданы, уступлены другому лицу или использованы иным образом кроме как в соответствии с настоящими Условиями.
            %li Баллы могут быть использованы только для приобретения Поощрительных товаров, расположенных в специальном разделе, и не имеют наличного выражения.
            %li Участник, накопивший достаточное количество Баллов на своем Счете, вправе заказать Поощрительный товар из текущего каталога, размещенного на Сайте в его личном кабинете в разделе Призы, надлежащим образом заполнив Заявку в Личном кабинете.
            %li Поощрительные товары,заказанные Пользователем, оплачиваются Пользователем в соответствии с настоящими Условиями участия. Цена за Поощрительные товары объявляется в Баллах
            %li Количество Баллов, установленное в каталоге за запрошенный Поощрительный товар блокируется в момент заказа Поощрительного товара и списывается со Счета Пользователя в момент получения Поощрительного товара или услуги
            %li Поощрительные товары предоставляются и Баллы списываются в пределах баланса на Счете Пользователя, при этом Баллы, начисленные ранее, списываются в первую очередь
            %li При необходимости Поощрительные товары будут отправляться или доставляться, на адрес, указанный Пользователем или на условиях самовывоза по адресу г. Челябинск, ул. Цвиллинга, 25к2, 4й этаж.
            %li Все Поощрительные товары предоставляются при условии подтверждения их наличия при заказе.
            %li В отношении Поощрительных товаров применяются все условия и ограничения, которые указаны в каталоге или иных условиях участия, связанных с Поощрительным товаром.
            %li Помимо списания Баллов при передаче Поощрительного товара со Счета Пользователя могут быть списаны Баллы, начисленные в результате ошибки, связанные с Заказом, который была отменен или не доставлен или сумма по которому была возвращена.
            %li Все Баллы, не использованные Пользователем для получения Поощрительного товара в течение 1 (одного) года с момента их начисления на Счет, считаются истекшими и будут списаны со Счета Пользователя. 
            %li Сайт вправе вносить любые изменения в каталог Поощрительных товаров, в Условия участия без предварительного уведомления Пользователя.
          
          %h2 Обязательства Пользователя при регистрации.
          %ol
            %li Для того, чтобы воспользоваться услугами Сайта доставки по заказу, Пользователь обязан зарегистрироваться на Сайте, заполнив регистрационную форму.
            %li Если Пользователь предоставит неверную информацию или у Сайта есть основания полагать, что предоставленные Пользователем данные не верны, неполны или неточны, Сайт имеет право приостановить либо отменить регистрацию Пользователя и отказать ему в использовании своих услуг.
            %li В случае изменения данных, указанных при регистрации, Сайт рекомендует Пользователям своевременно вносить соответствующие изменения во избежание недоразумений при следующих заказах.
            %li Пользователи самостоятельно несут ответственность за заказ товаров и услуг, на которые распространяются возрастные и иные законодательные ограничения.
          %h2 Безопасность данных.
          %ol
            %li После завершении процесса регистрации, Пользователь получает логин и пароль для доступа в Личный кабинет.
            %li Пользователь несет ответственность за безопасность своего логина и пароля, а также за все, что будет сделано на Сайте доставки под его логином и паролем.
            %li Пользователь обязан немедленно уведомить Сайт о любом, ставшем ему известном, случае несанкционированного доступа в Личный кабинет под его логином и паролем и/или о любом нарушении безопасности.
          %h2 Общие положения об использовании услуг.
          %ol
            %li Сайт доставки имеет право, при необходимости и в коммерческих целях, отправлять Пользователю по электронной почте или на мобильный телефон сообщения, касающиеся использования услуг на Сайте, а также рекламную информацию третьих лиц.
            %li Сайт доставки имеет право ограничить Пользователю доступ к Сайту и Личному кабинету,  в случае нарушения условий настоящего Соглашения.
          %h2 Ссылки.
          %ol
            %li На Сайте доставки могут быть размещены ссылки на другие сайты и ресурсы третьих лиц.
            %li Сайт доставки не несет ответственности за работоспособность таких сайтов или ресурсов, а равно за содержание, рекламу, материалы, товары и услуги, доступные на таких сайтах или ресурсах.
          %h2 Использование материалов, размещенных на сайте.
          %ol
            %li Пользователь обязуется использовать Сайт только в законных целях.
            %li Сайт доставки содержит материалы, охраняемые авторским правом, товарные знаки и иные охраняемые законом материалы, включая, но не ограничиваясь, тексты, фотографии, графические изображения.
            %li
              Все содержание Сайта охраняется авторским правом как произведение,  в соответствии с законодательством Российской Федерации об авторском праве и смежных правах.
            %li Авторское право на использование содержания Сайта принадлежит  ООО “Доставка” (в том числе, право на подбор, расположение, систематизацию и преобразование данных, содержащихся на сайте, а также на сами исходные данные), кроме случаев, отдельно отмеченных в содержании опубликованных на сайте материалов.
            %li Пользователь не имеет права вносить изменения, публиковать, передавать третьим лицам, участвовать в продаже или уступке, создавать производные продукты или иным образом, частично или полностью, использовать содержание Сайта.
            %li
              Пользователь обязуется не размещать на Сайте и не направлять куда-либо через/посредством Сайта любые материалы следующего характера:
              %ol
                %li нарушающие законодательство, содержащие угрозы и оскорбления, дискредитирующие других лиц, нарушающие права граждан на частную жизнь или публичный порядок, носящие характер непристойности;
                %li нарушающие в той или иной степени честь, достоинство, права, интересы других лиц;
                %li способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной розни, содержащие попытки разжигания вражды или призывы к насилию;
                %li побуждающие на противоправное поведение, влекущее уголовную, гражданско-правовую и иную ответственность или каким-либо образом нарушающее положения законодательства;
                %li являющиеся рекламой каких-либо товаров или услуг, без получения предварительного выраженного согласия Сайта.
            %li Пользователь обязуется не загружать, не размещать, не отображать на Сайте какие-либо материалы, охраняемые законодательством об интеллектуальной собственности (в том числе, авторским правом, законодательством о товарных знаках), без получения письменного разрешения обладателя прав на охраняемый материал. При этом бремя доказывания того, что размещение на Сайте Пользователем материалов не нарушает авторские, смежные и иные права третьих лиц, лежит на Пользователе.
            %li Пользователь обязуется указывать в качестве источника Сайт доставки, при размещении информации с Сайта доставки на любых других рекламных и информационных площадках, сайтах, ресурсах.
          %h2 Ограничение ответственности.
          %ol
            %li Пользователь осознает и подтверждает, что Сайт доставки не несет ответственности перед Пользователем и (или) третьими лицами за любой прямой или косвенный, случайный или специальный, материальный или нематериальный ущерб, включая упущенную выгоду и недополученную прибыль, и не имеет прямых или косвенных обязательств в связи любыми возможными или возникшими потерями или убытками, в следствие:
            %ol
              %li пользования услугами на сайтах или ресурсах третьих лиц, размещенных на Сайте;
              %li изменения, ограничения или прекращения доступа к Услугам Сайта доставки;
              %li изменения условий настоящего Соглашения;
              %li наличия рекламы на Сайте доставки;
              %li несанкционированного доступа к данным Пользователя или их изменения;
              %li любого другого случая, имеющего какое-либо отношение к Сайту.