.cont.container
  .row.ele0.x
    .span12
      .img_xl
        <img src="/img/svekla_logo_xl.png"/>
      
      %h1.big Мы приводим клиентов!
      %br
      %p
        %span.sv1  Новые клиенты
        %span.sv1.sv2  +
        %span.sv1  Новые заказы
        %span.sv1.sv2  =
        %span.sv1.sv3  Увеличение прибыли!
  
  .row.ele1
    .span4
      .x
        .icon_v2
          <img src="/img/icons/x_personal.png"/>
        %h3.v2  Собственный раздел на сайте с меню и акциями
        %p.l  Неограниченное количество категорий меню и блюд. Приятный дизайн, удобство для пользователя и возможность проводить акции.
        
    .span4
      .x
        .icon_v2
          <img src="/img/icons/x_stats.png"/>
        %h3.v2  Подробная статистика и отчётность
        %p.l  Данные по всем заказам, динамика и графики. Красиво и полезно!
        
    .span4
      .x
        .icon_v2
          <img src="/img/icons/x_promo.png"/>
        %h3.v2  Бесплатное продвижение вашего ресторана
        %p.l  Вашу службу доставки станет найти легче и быстрее.
         
  .row.ele0
    .span4
      .x
        .icon_v2
          <img src="/img/icons/x_rate.png"/>
        
        %h3.v2  Оценка заказов от клиентов
        %p.l  Узнайте мнение вашей аудитории, чтобы улучшить свои услуги.
        
    .span4
      .x
        .icon_v2
          <img src="/img/icons/x_control.png"/>
        
        %h3.v2  Эффективная система управления заказами
        %p.l  Доступ в личный кабинет предоставляется каждому партнёру и позволяет управлять заказами, меню и акциями. Удобный интерфейс и богатый функционал.
      
    .span4
      .x
        .icon_v2
          <img src="/img/icons/x_visa.png"/>
        
        %h3.v2  Оплата заказов электронными деньгами
        %p.l  VISA, MasterCard, Webmoney, Яндекс.Деньги, QIWI. Скоро.
      
          
  -#.row.ele1
    .span4
      .b1
        .b1_left
          x
        .b1_right
          %h3.v2  Собственный раздел на сайте с меню и акциями
          %p.l  Неограниченное клоичество категорий меню и блюд. Приятный дизайн, удобство для пользователя и возможность проводить акции.
        .b_clear
    .span4
      .b1
        .b1_left
          x
        .b1_right
          %h3.v2  Подробная статистика и отчётность
          %p.l  Данные по всем заказам, динамика и графики. Красиво и полезно!
        .b_clear
    .span4
      .b1
        .b1_left
          x
        .b1_right
          %h3.v2  Бесплатное продвижение вашего ресторана
          %p.l  Данные по всем заказам, динамика и графики. Красиво и полезно!
        .b_clear
  -#.row.ele0
    .span4
      .b1
        .b1_left
          <img src="/img/icons/rate.png"/>
        .b1_right
          %h3.v2  Оценка заказов от клиентов
          %p.l  Узнайте мнение вашей аудитории, чтобы улучшить свои услуги.
        .b_clear
    .span4
      .b1
        .b1_left
          <img src="/img/icons/settings.png"/>
        .b1_right
          %h3.v2  Эффективная система управления заказами
          %p.l  Доступ в личный кабинет предоставляется каждому партнёру и позволяет управлять заказами, меню и акциями. Удобный интерфейс и богатый функционал.
        .b_clear
    .span4
      .b1
        .b1_left
          <img src="/img/icons/payments.png"/>
        .b1_right
          %h3.v2  Оплата электронными деньгами
          %p.l  VISA, MasterCard, Webmoney, Яндекс.Деньги, QIWI
        .b_clear
  .row.ele0.x
    %h1.ele2  Как это работает
    .span3
      .icon1.one1
        1
      %h3.v2  Клиент заходит на сайт svek.la и выбирает ваш ресторан
    .span3
      .icon1.two2
        2
      %h3.v2  Формирует заказ из вашего меню
    .span3
      .icon1.three3
        3
      %h3.v2  Мы передаём вам проверенный заказ
    .span3
      .icon1.four4
        4
      %h3.v2  Вы доставляете заказ клиенту
      
  .row.x
    %h1.ele2  Вопросы и ответы
  .row.ele1
    .span6
      %h3.v2  — Я хочу разместить свой ресторан или службу доставки. Что для этого нужно?
      %p.l По вопросам подключения, свяжитесь с Оксаной по номеру +7 (922) 746-9896
    .span6
      %h3.v2  — Сколько стоит размещение моего ресторана?
      %p.l  Мы берём лишь 15% процентов от суммы <b>доставленных</b> заказов.

  .row.ele0
    .span6
      %h3.v2  — Чем вы отличатесь от бесплатных сервисов?
      %p.l  У нас есть собственный call-центр, благодаря которому мы качественно обслуживаем ваших клиентов. Также, меню партнёров постоянно обновляется и содержит только самую достоверную и актуальную информацию.
    .span6
      %h3.v2  — Другой вопрос?
      %p.l  Мы готовы ответить на любые вопросы; просто перейдите в раздел <a href="/contact">контакты</a>.
      