.cont.container
  .row.ele2
    .span12
      %h1.big Присоединятейсь к нашей команде!
  .row.ele2
    .span12
      %h1 Оператор call-центра
      %h3.g В call-центр svek.la требуются молодые специалисты для:
      %ul.l
        %li  Приёма входящих звонков
        %li  Осуществления исходящих звонков
        %li  Консультирования клиентов
        %li  Ведения базы данных по обработанным звонкам
      
      %h2 Требования
      %ul.l
        %li  Усидчивость и коммуникабельность
        %li  Дружелюбное общение даже с трудными клиентами :)
        %li  Активность
        %li  Возраст: от 18 до 40 лет
        %li  Опыт схожей работы
      
      %h2 Условия работы:
      %ul.l
        %li  Оклад: от <b>10 000 до 16 000 рублей</b> (в зависимости от графика)
        %li  Официальное трудоустройство
        %li  Работа в классном и дружном коллективе
        %li  Обучение и перспектива карьерного роста
        %li  График работы посменно 2/2 или сутки через трое
      %br
