.container.cont
  .row-fluid
    .span6
      %div{:style => "text-align: center; width: 100%; margin-top: 0.5em;"}
        %img{:alt => "", :src => "/img/empty_pizza.jpg"}/
    .span6
      %h1.big
        Опаньки...
        %br Уже всё съели!
      %p.l
        Не понятно как вы попали на эту страницу, но это точно не то, что вы искали.
      %p.l
        Перейдите на
        %a{:href => "/", :title => ""} главную страницу
        — там много вкусной еды, которая ждёт вас.
      %p.l
        Приятного аппетита!
