.modal.hide#reg-success
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Вы успешно зарегистрировались
  .modal-body
    %p Поздравляем! Теперь можно смело выбрать любимый ресторан и заказать вкусную еду.
  .modal-footer.new-btn
    %a.btn.btn-large.btn-success#relo{:href=> 'javascript:;', :title => ''} Поехали!
    %a.btn.btn-large.closeallmodal#relo{:href=> 'javascript:;', :title => ''} Закрыть
