- if params[:id]
  #detail.modal.hide.fade.in
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3= @item.name
    .modal-body
      .big-img
        .carousel-inner

          .active.item{'data-name' => @item.name}
            %img{:src => @item.photo(:large), :alt=> '', :width => '', :height => '300'}

        - if @item_prev
          %a.left{:href => "#s" + @item_prev.section_id.to_s + "/p" + @item_prev.id.to_s, :rel => "popover", :data => {:content => @item_prev.name, :id => @item_prev.id}} ‹
        - if @item_next
          %a.right{:href => "#s" + @item_next.section_id.to_s + "/p" + @item_next.id.to_s, :rel => "popover", :data => {:content => @item_next.name, :id => @item_next.id}} ›
        .opt-order
          %p.text.pull-left= @item.description
          %p.cost.pull-left
            Цена:
            %span
              #{@item.price.round} руб.
          - if @allow_order
            %p.cost.btn-t.pull-left Кол-во:
            .btn-group.btn-grp-big.pull-left
              %button.btn.min -
              %input.btn.coll-el{:maxlength => "2", :title => "", :type => "text", :value => "1"}
              %button.btn.plus +

      .info-detail
    .modal-footer
      - if @allow_order
        %a.btn.btn-success.btn-large.pull-right#add-order{:href => "javascript:;", :data => {:id => @item.id}} Добавить в корзину
      %a.btn.btn-large.closeallmodal{:href=> 'javascript:;', :title => ''} Закрыть
