#pop-tele.modal.hide
  .modal-header
    %a.close ×
    %h3 Нужна помощь или другой вопрос? Звоните:
  .modal-body
    .inside
      %h1.huge.x
        //Звоните
        +7 (922) 234-8260
      %h3.x
        Ежедневно с 10 до 18. Или пишите на <a href="mailto:hello@svek.la">hello@svek.la</a>

    .clear
  .modal-footer
    = button_tag 'Закрыть', :disable_with => "Ага...", :class => 'enter btn btn-large closeallmodal'