<div id="pagination" style="margin: 0 20px 20px 0" class="pull-left">
  <div id="navigation">
     <%= render 'navigation' %>
  </div>
</div>

<ul class="orders_count pull-right" style="margin-bottom: 2px" id="show_by">
<li class='disabled'>
  <a href="javascript:;" title=''>Показывать по</a>
</li>
<li>
    <a href="javascript:;" title='' o_counts="10">10</a>
</li>
<li>
    <a href="javascript:;" title='' o_counts="50">50</a>
</li>
<li>
    <a href="javascript:;" title='' o_counts="100">100</a>
</li>
</ul>
